html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(200deg, rgb(7, 0, 51) 0%, rgb(0, 36, 42) 50%, rgb(7, 39, 0) 100%);
  color: #fafafa;
  text-shadow: 1px 1px #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
